body {
  background: rgb(41, 127, 185);
  background: linear-gradient(
    94deg,
    rgba(41, 127, 185, 1) 24%,
    rgba(32, 6, 206, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
