body {
  background-color:rebeccapurple;
  background-image: url(./pngwing.com\ \(1\).png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
